{% extends 'base.html' %}
{% block content %}

<h3>LogIn</h3>
<div class='login-container form'>
  <form class="modal-content" method="post" action="{% url 'login' %}">
    <div class=login-row>
      {% csrf_token %}
      <div class="col-small">
        <label for="username">Username</label>
      </div>
      <div class="col-large">
        <input type="text"  name="username">
      </div>
      <div class="col-small">
        <label for="password">Password</label>
      </div>
      <div class="col-large">
        <input type="password"  name="password">
      </div>
      <div>
        <button type = 'submit'>Login</button>
      </div>
      <input type="hidden" name="next" value="{{ next }}">
    </div>
  </form>
</div>



{% endblock %}