{% extends 'base.html' %}
{% block content %}

<h2>Log In</h2>
<div class='container'>
  <form class="modal-content" method="post" action="{% url 'login' %}">
    <div class=row>
      {% csrf_token %}
      <div class="col-25 login">
        <label for="fname">Username</label>
      </div>
      <div class="col-75 login">
        <input type="text"  name="username" placeholder="Username">
      </div>
      <div class="col-25 login">
        <label for="password">Password</label>
      </div>
      <div class="col-75 login">
        <input type="password"  name="password" placeholder="password">
      </div>
      <div class = 'login'>
        <input type="submit" class="btn" value="login">
      </div>
      <input type="hidden" name="next" value="{{ next }}">
    </div>
  </form>
</div>



{% endblock %}