  :root {
    --main-color: #E5E5E5;
    --seond-color: #000000;
    --third-color: #ED3833;
    --fouth--color: #1031b5;
    --fifth-color: #0D8C0A;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DIN Medium', Arial, Helvetica, sans-serif;
    list-style: none;
    font-size: 13px;
    font-weight: normal;
  }

  /* Base */
  h1 {
    font-family: 'Founders Grotesk Bold Italic', Arial, Helvetica, sans-serif;
    font-size: 3.5vw;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
  }

  h2 {
    font-size: 3vw;
    text-align: center;
    text-transform: uppercase;
    padding: 70px 0px 70px 0px;
  }

  h3 {
    font-size: 2vw;
    text-align: center;
    text-transform: uppercase;
    padding: 100px 0px 30px 0px;
  }

  h4 {
    font-size: 12px;
    padding-left: 10px;
  }

.add-art {
  padding: 50px 0px 0px 0px; 
}
  
  #artists {
    color: var(--fifth-color);
  }
  
  p {
    padding: 0px 180px 0px 180px;
    font-size: 12px;
    font-family: 'DIN', Arial, Helvetica, sans-serif;
  }
  
  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  /* Nav Bar  */
  a.exhibit-link {
    margin-left: -40px;
  }
  .header {
    position: relative;
  }

  #title  {
  width: fit-content;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 50px;
}

  a:link, a:visited, a:hover, a:active {
    color: var(--seond-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6vw;
  }

.home-navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0px 0px 0px;
}

.home-navbar a {
  padding: 0px 20px 0px 20px;
}

  /* Home */
.home-grid-item img {
  max-width: 100%;
}

.home-grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 0px 5px 0px 5px;
  margin-top: 100px;
}

.home-grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);  
  font-size: 0px;
}

  /* Artists  */
  #artist_name {
    font-family: 'Founders Grotesk Bold Italic', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
  }
  
  /* Create Exhibition */
  .flex-parent {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
  }
  
  .flex-item {
    width: 300px;
    border-bottom: 1px solid var(--seond-color);
    padding-bottom: 30px;
  }
  
  .flex-item.small {
    width: 150px;
  }
  
  label {
    font-size: 1.5vw;
  }
  
  input, textarea, select {
    width: 150px;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
  }
  
  /* Exhibition Index */
  table, td, th {
    border-bottom: 1px solid var(--main-color);
  }
  
  table, p, th {
    font-weight: lighter;
  }
  
  tr { 
    height: 30px;
  }

  table {
    
    font-size: 8px;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
  }
  
  .index-link {
    border: 0.5px solid var(--seond-color);
    border-radius: 5px;
    padding: 5px 3px 3px 3px;
  }
  /* Signup */

.signup {
  padding-left: 20px;
}

span.helptext {
  font-family: "Founders Grotesk Regular", Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  display: block;
  padding-bottom: 10px;
}

.helptext li {
  font-family: "Founders Grotesk Regular", Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal; 
}

.button {
    padding: 5px 32px;
    margin: 10px 0px 0px 48px;
  }

.signup input[type=text],  .signup input[type=password], select, textarea {
  width: 260px;
  padding: 3px;
  border-radius: 0px;
  resize: vertical;
  font-size: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  display: block;
}
      
.signup input:focus {
  outline: none;
}

  /* Login */

  div.form {
    display: block;
    text-align: center;
}
form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

 input[type=text],  input[type=password], select, textarea {
  width: 150px;
  padding: 3vw;
  border: 1px solid var(--seond-color);
  border-radius: 4px;
  resize: vertical;
  font-size: 10px;
}

label {
  padding: 12px 0px 12px 0px;
  display: inline-block;
}

input[type=submit] {
  background-color: var(--main-color);
  color: var(--seond-color);
  padding: 5px 0px;
  border: 0.5px solid var(--seond-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  width: 50px;
}

button {
    color: var(--seond-color);
    background-color: white;
    border: 1px solid var(--fifth-color);
    border-radius: 2px;
    padding: 5px 32px;
    margin: 10px 0px 0px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    cursor: pointer;
  }
  
/* Clear floats after the columns */
.login-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-small, .col-large, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

  /* Artists  */
  canvas{
    position: fixed;
    z-index: 2;
    pointer-events: none;
  }

.artists-section {
    position: relative;
    height: 10vh;
    width: 100vw;
  }

  .artists {
    width: 100%;
    height: 100%;
  }

  .artists ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
  }

  .artists li {
    position: relative;
    border-bottom: 0.5px solid #0000006b;
    cursor: pointer;
    font-size: 5vw;
  }

  .project-image {
  opacity: 0%;
  position: absolute;
  top: 100%;
  pointer-events: none;
  user-select: none;
  width: 100px;
  height: 100px;
}
  /* Create Exhibition */
.container {
  padding-top: 40px;
}  

form.create-ex {
  margin-top: -40px;
}
  
form.update-ex {
  padding-left: 5px;
}
  /* List of Exhibitions */
  .top-row {
    border-bottom: 1px solid var(--seond-color);  
  }
  table, td, th {
    border-bottom: 0.5px solid var(--seond-color);  
  }
  
  table, th {
    font-weight: normal;
    padding: 5px 0px 5px 10px;
    text-transform: capitalize;
  }
  
  .index-p {
    font-size: 13px;
    padding: 0;
    text-transform: capitalize;
  }
  
  table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
  }
  
  /* About */
  #about-title {
    color: var(--fouth--color);
    padding-top: 150px;
  }

  #header {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-image: url("images/field.jpg");
    background-position: center;
    background-size: cover;
    z-index: 3;
  }
  
  .text-box  {
  width: 90%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 16px; 
}

.text-box h3 {
 color: var(--fouth--color);
font-size: 50px;
letter-spacing: 2.5px; 
}

.about-text p {
  text-align: center;
  font-size: 1.6vw;
  font-weight: normal;
  padding: 0px 100px 0px 100px;
}

main {
  padding-bottom: 30px;
  min-height: 100vh;
}

/*  Add Art */
div.add-art-form label {
  font-size: 12px;
}

div.add-art-form p {
  padding: 0px 0px 0px 190px;
}

div.add-art-title {
  padding: 0px 0px 10px 10px;
  border-bottom: 1px solid var(--seond-color);
}

div.add-art-title p {
    font-size: 14px;
    text-transform: capitalize;
  }

h6 {
 padding: 10px 0px 10px 10px; 
 display: inline-block;
}

input#id_name {
  margin-left: 26px;
}

input[type=file] {
  display: block;
  cursor: pointer;
  margin-left: 247px;
}

.add-art-btn {
  margin-left: 280px;
  padding: 5px 15px;
}

.add-art-img img {
  width: 20%; 
  height: 20%;
}

.add-art-table th {
  width: 100px;
}

table.add-art-table {
  margin-top: 0px;
}

/*  Artist Page */
div.home-navbar.artist {
  width: 70%;
}

.artist-comment p{
  padding: 0px 0px 0px 0px;
}
.artist-page-desc {
  padding: 13px 0px 0px 0px;
  font-size: 10px;
  text-align: center;
}

.artist-page-ex-desc {
  padding: 13px 0px 0px 12px;
  font-size: 10px;
}

.main-title {
  padding: 90px 0px 10px 0px;
  font-size: 23px;
  text-transform: capitalize;
}

img.artist-page-img {
 width: 80%;
 height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

 a:visited.artist-page-li, a:hover.artist-page-li, a:active.artist-page-li {
    color: var(--fouth--color);
    text-decoration: none;
}

a.artist-page-li  {
  padding: 0px 0px 0px 5px;
  text-transform: capitalize;
  font-size: 23px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: var(--fouth--color);
  border-radius: 50%;
  display: inline-block;
  margin: 0px 10px 0px 0px;
}

.hl {
  border-bottom: 1px solid var(--fouth--color);
  width: 93%;
  margin-left: 10px;
}

.hl-desc {
  border-bottom: 1px solid var(--fouth--color);
  width: 95%;
  margin-left: 13px;
}

.artist-page-ex {
  text-align: left;
  padding: 20px 0px 10px 10px;
  font-size: 13px;
}

.artist-page-title {
  padding: 10px 0px 5px 10px;
  text-align: left;
}

/* Column container */
.row {  
  display: flex;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  height: 100vh;
  border-right: 1px solid var(--seond-color);
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
  .side {
    border: none;
  }
}