<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Virtual Art Gallery</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <section id="header" class="header">
        <div class="home-navbar">
                    
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Log Out</a>
                    <a href="{% url 'newexhibition' %}">New Exhibit<a>
                        <a class ="exhibit-link" href="{% url 'exhibitions' %}">Exhibit(s)</a>
                    {% else %}
                    <a href = "{% url 'signup' %}">Sign up</a>
                    <a href="{% url 'login' %}">LogIn</a>
                    {% endif %}
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'artist' %}">Artists</a>
                <a  id="title" href="{% url 'home' %}"><h1>Virtual Art Gallery</h1></a>
        </div>
        
    </section>
            
            <main>
                <h3 id="about-title">About</h3>
                    <div class="about-text" ><p>We want art to be accessible to everyone!</p></div>
                    <br>
                    <div class="about-text">
                        <p>To move closer to that vision we have created a virtual art gallery
                        that helps artists share their art around the world. Come here to 
                        immerse yourself and discover fine art, we believe that the process of 
                        viewing art can be transformed through online exhibitions. That's why
                        we're dedicated to building an inspiring, welcoming experience that 
                        connects collectors with the artists and artworks they love.</p>
                    </div>
            </main>
</body>
</html>
