<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Virtual Art Gallery</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div class="row">
  <div class="side">
      <h2 class="artist-page-title">{{exhibition.artist_name}}</h2>
      <div class="hl"></div>
      <h3 class="artist-page-ex">Exhibition</h3> 
    {% for art in art %}
        <a class="artist-page-li" href=""><span class="dot"></span>{{art.exhibition.title}}</a> <br>
    {% endfor %}
  </div>

  <div class="main">
    <section class="header">
        <div class="navbar-left">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Log Out</a>
                    <a href="{% url 'newexhibition' %}">New Exhibit<a>
                    <a href="{% url 'exhibitions' %}">Exhibit(s)</a>
                    {% else %}
                    <a href = "{% url 'signup' %}">Sign up</a>
                    <a href="{% url 'login' %}">LogIn</a>
                    {% endif %}
        </div>
        <!-- <a  id="title" href="{% url 'home' %}"><h1>Virtual Art Gallery</h1></a> -->
        <div class="navbar-right">
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'artist' %}">Artists</a>
        </div>
    </section>
        {% for art in art %}
        <h2 class="main-title">{{art.exhibition.title}}</h2>
        <div class="hl-desc"></div>
        <div></div>
        <img class="artist-page-img" src="{{art.image}}"> 
        <p class="artist-page-desc">{{art.description}}</p>
        <p class="artist-page-ex-desc">Description: {{art.exhibition.description}}</p>
    {% endfor %}
</div>
<form action="/artists/{{exhibition.id}}/add_comment/" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" class="btn" value="Add Comment">
  </form>
  <form action="/artists/{{exhibition.id}}/add_like/" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn" value="Like!">
</form> 
{{exhibition.likes}} people like this!
<br><br>
      {% for com in exhibition.comment_set.all %}
    {{com.name}} says {{com.comment}} on {{com.created}}
    <br>
        <a href = '/artists/{{com.id}}/delete_comment/'>Delete</a>
    
    <br>
      {% endfor %}

      
    </body>
</html>