{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="home-grid-container"> 
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-1.png' %}" style="width:130px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-2.png' %}" style="width:202px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-3.jpg' %}" style="width:180px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-4.png' %}" style="width:161px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-5.png' %}" style="width:219px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-6.png' %}" style="width:130px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-7.png' %}" style="width:125px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-8.png' %}" style="width:132px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-9.png' %}" style="width:131px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-10.png' %}" style="width:144px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-11.jpg' %}" style="width:137px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-12.png' %}" style="width:131px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-13.png' %}" style="width:157px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-14.png' %}"style="width:181px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-15.png' %}" style="width:176px; height:158px;"></div>
   <div class="home-grid-item"> <img src="{% static 'css/images/art/img-16.png' %}" style="width:147px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-17.png' %}" style="width:129px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-18.png' %}" style="width:117px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-19.png' %}" style="width:130px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-20.png' %}" style="width:167px; height:158px;"></div>
    <div class="home-grid-item"><img src="{% static 'css/images/art/img-21.png' %}" style="width:161px; height:158px;"></div>
</div>
{% endblock %}
