{% extends 'base.html' %}
{% block content %}
<h1>Virtual Art Gallery</h1>
<h2 id="info">Info</h2>

<p>We want art to be accessible to everyone!</p>
<br>
<p>
    To move closer to that vision we have created a virtual art gallery
    that helps artists share their art around the world. Come here to 
    immerse yourself and discover fine art, we believe that the process of 
    viewing art can be transformed through online exhibitions. That's why
    we're dedicated to building an inspiring, welcoming experience that 
    connects collectors with the artists and artworks they love. 
</p>

{% endblock %}
