{% extends 'base.html' %}
{% block content %}

<h2>Exhibition Create</h2>
	<form method = 'POST' action = '/exhibition/submit/'>
	    {% csrf_token %}   
	    <label for = 'exhibition_title'>Title:</label>
	    <input name = 'title'>
	    <label for = 'artist_name'>Artist_Name:</label>
	    <input name = 'artist_name'>
	    <label for = 'description'>Description</label>
	    <input name = 'description'>
	    <label for = 'date'>Date</label>
	    <input name = 'date' type = 'date'>
	    <button type = 'submit'>Submit</button>
	</form>

<h2>The Art</h2>

{% endblock %}
