{% extends 'base.html' %}
{% block content %}
<h1>Virtual Art Gallery</h1>

<div class="flex-container">
    <div class="flex-parent">
        <div class="flex-item small"><h4>The Exhibition</h4></div>
        <div class="flex-item">
            <form method = 'POST' action = '/exhibition/submit/'>
                {% csrf_token %}   
                <label for = 'exhibition_title'>Title</label>
                <input name = 'title'> <br>
                <label for = 'artist_name'>Artist Name</label>
                <input name = 'artist_name'> <br>
                <label for = 'date'>Date</label>
                <input name = 'date' type = 'date' > <br>
        </div>
        <div class="flex-item">
            <label for = 'description'>Description</label>
            <textarea name = 'description'> </textarea><br>
            <button type = 'submit'>Submit</button>
	        </form>
        </div>
    </div>
</div>
{% endblock %}
