{% extends 'base.html' %}
{% block content %}

<h3>Add Art</h3>

<div class="add-art-title">
    <h5>The Exhibition</h5>  <p>Title: {{exhibition.title}}</p>
</div>

<div class="add-art-form">
<form  action="{% url 'add_art' exhibition.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
<h6>The Art</h6>     {{ art_form.as_p }}
    <input type = 'file' name = 'image'>
    <button class="add-art-btn" type = 'submit'>Add Art</button>
</form>
</div>

<h3 class="add-art"> List of Artwork <h3>
    <table class="add-art-table">
      <tr class="top-row">
        <th><p class="index-p">Name</p></th>
        <th><p class="index-p">Description</p></th>
        <th><p class="index-p">Image</p></th>
        <th></th>
      </tr>
      <tr>
        {% for art in exhibition.art_set.all %}
        <th><p class="index-p">{{art.name}}</p></th>
        <th><p class="index-p">{{ art.description }}</p></th>
        <th class="add-art-img"><img  src="{{art.image}}"></th>
        <th>
            <a class="index-link" href = '/exhibition/{{art.id}}/edit_art'>Edit</a>
            <a class="index-link" href = '/exhibition/{{art.id}}/delete_art'>Delete</a>
        </th>
    </tr>
        {% endfor %}
    </table>


{% endblock %}
