{% extends 'base.html' %}
{% block content %}

<h3>List of Exhibitions</h3>
<table>
    <tr class="top-row">
        <th><p class="index-p">Artist Name</p></th>
        <th><p class="index-p">Title</p></th>
        <th><p class="index-p">Description</p></th>
        <th><p class="index-p">Date</p></th>
        <th></th>
    </tr>
    <tr>
        {% for exhibition in exhibition %}
        <th><p class="index-p">{{exhibition.title}}</p></th>
        <th><p class="index-p">{{ exhibition.description }}</p></th>
        <th><p class="index-p">{{ exhibition.date }}</p></th>
        <th><p class="index-p">{{ exhibition.artist_name }}</p></th>
        <th><a href = '/exhibition/{{exhibition.id}}' >Add Art</a>
            <a href = '/exhibition/{{exhibition.id}}/edit'>Edit</a>
            <a href = '/exhibition/{{exhibition.id}}/delete'>Delete</a>
        </th>
    </tr>
    {% endfor %}

{% endblock %}