{% extends 'base.html' %}
{% block content %}

<h3>Exhibition Index</h3>
<table>
    <tr>
        <th>Title</th>
        <th>Artist Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Comments</th>
        
    </tr>
    <tr>
        {% for exhibition in exhibition %}
        <th><a href='/exhibition/{{exhibition.id}}' >{{exhibition.title}}</a>
            <a href = '/exhibition/{{exhibition.id}}/edit'>Edit</a>
            <a href = '/exhibition/{{exhibition.id}}/delete'>Delete</a></th>
        <th>{{ exhibition.artist_name }}</th>
        <th>{{ exhibition.description }}</th>
      <th>{{ exhibition.date }}</th>
      <th><form action="" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" class="btn" value="Add Comment">
      </form>
          {% for com in exhibition.comment_set.all %}
          
        {{com.name}}
            <a href = '/exhibition/{{comment.id}}/edit_comment'>Edit</a>
            <a href = '/exhibition/{{comment.id}}/delete_comment'>Delete</a>
        
        <li>{{com.comment}}{{com.created}}</li>
        
        
        {% endfor %}
    </th>
      
    </tr>
    {% endfor %}

Comment!



    
      
      

{% endblock %}